@use '../../styles/variables.scss' as *;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: $padding-button;
  gap: $gap-button;
  
  width: 100%;
  height: $height-button;
  box-sizing: border-box;
  
  background: $color-primary;
  border-radius: $border-radius-button;
  border: $border-width-focus solid transparent;
  cursor: pointer;
  
  font-family: $font-family-fk;
  font-style: normal;
  font-weight: 500;
  font-size: $font-size-button;
  line-height: $line-height-button;
  text-align: center;
  color: $color-white;
  
  transition: $transition-default;
  
  &:hover {
    background: $color-primary-hover;
  }
  
  &:focus {
    outline: none;
    border-color: $color-primary-focus-border;
  }
  
  &:disabled, &.error {
    background: $color-inactive;
    color: $color-white-inactive;
    cursor: not-allowed;
    
    &:hover {
      background: $color-inactive;
    }
    
    &:focus {
      border-color: transparent;
    }
  }
  
  &.progress {
    background: $color-progress;
    color: $color-white-inactive;
    gap: $gap-button-progress;
    cursor: not-allowed;
    
    &:hover {
      background: $color-progress;
    }
    
    &:focus {
      border-color: transparent;
    }
  }
  
  &.circle {
    width: $width-button-circle;
    padding: $padding-button-circle;
  }

  &.small {
    padding: 6.5px 6px;
    gap: 10px;
    width: 73px;
    height: 32px;
    font-size: 12px;
    line-height: 160%;
    border-radius: 100px;
  }
}

.icon {
  width: $size-button-icon;
  height: $size-button-icon;
  object-fit: contain;
} 