// Colors
$color-background-secondary: rgba(25, 29, 32, 0.03);
$color-background-hover: rgba(25, 29, 32, 0.08);
$color-background-pressed: rgba(25, 29, 32, 0.1);
$color-text-placeholder: rgba(67, 76, 83, 0.4);
$color-border-focus: rgba(87, 146, 255, 0.65);
$color-error-border: rgba(199, 62, 89, 0.65);
$color-error-text: rgba(199, 62, 89, 0.95);
$color-error-icon: rgba(199, 62, 89, 0.9);
$color-white: #FFFFFF;
$color-primary: rgba(41, 115, 255, 0.85);
$color-primary-hover: rgba(36, 112, 255, 0.92);
$color-primary-focus-border: rgba(36, 112, 255, 0.4);
$color-inactive: rgba(36, 112, 255, 0.4);
$color-white-inactive: rgba(255, 255, 255, 0.5);
$color-progress: rgba(36, 112, 255, 0.75);

// Typography
$font-family-inter: 'Inter', sans-serif;
$font-family-fk: 'FK Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-size-input: 13px;
$font-size-helper: 12px;
$font-size-button: 15px;
$line-height-input: 20px;
$line-height-helper: 16px;
$line-height-button: 160%;

// Spacing
$padding-input: 8px 12px 8px 10px;
$padding-input-error: 6px 10px;
$padding-button: 12px 20px;
$padding-button-circle: 12px;
$gap-wrapper: 4px;
$gap-input: 10px;
$gap-button: 10px;
$gap-button-progress: 4px;
$border-radius: 6px;
$border-radius-icon: 2px;
$border-radius-button: 100px;

// Sizes
$height-button: 48px;
$width-button-circle: 48px;
$size-button-icon: 24px;
$border-width-focus: 2px;

// Transitions
$transition-default: all 0.2s ease-in-out; 