@import '../../styles/variables.scss';

.navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  position: absolute;
  height: 50px;
  right: 0;
  top: 0;
  width: 100%;
  background: #EBEDF5;
  border-bottom: 0.5px solid $color-border-light;
  backdrop-filter: blur(50px);
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  width: 134px;
  height: 24px;
}

.morphoIcon {
  width: 24px;
  height: 24px;
}

.title {
  font-family: $font-family-inter;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: rgba(25, 29, 32, 0.95);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 2px 3px 8px;
  gap: 2px;
  width: 129px;
  height: 26px;
  background: rgba(25, 29, 32, 0.06);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.buttonText {
  font-family: $font-family-inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: rgba(25, 29, 32, 0.95);
}

.arrowIcon {
  width: 20px;
  height: 20px;
} 